* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
}


.logo { 
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-align:center;  
    padding: 2.5px;
 }



#backtotop {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgba(0,0,0,0.35) ; 
  color: white;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 5px; 
  font-size: 15px; 
}

#backtotop:hover {
  background-color: #555;
}



#backbox {
    background-color: black;
    margin: 0;
    color: white;
    width: 100%;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;  
}




.title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: left;  
    padding: 5px;
}
                
.accordion {
  background-color: grey;
  color: white;
    font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 1.5px solid white;
  font-size: 20px;
  transition: 0.4s;
}

.aactive, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}







.row, .column, .halfcolumn {
    padding: 0 8px;
    box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.halfcolumn {
  float: left;
  width: 50%;
    padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 65px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 75%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 325px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
    background-color: rgba(0, 0, 0, 0.15);
  color: white ;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

img {
    margin-bottom: 4px;
    margin-top: 8px;
    outline: .25px solid lightgray;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}











#footer  {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    color: white;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}  

#footerlogo{
    font-family: 'Oswald', sans-serif;
    padding-top: 25px;
    
}

#footertext {
    grid-column: 1/2;
    padding-bottom: 25px;
    
}

#socialmediaicons {
    grid-column: 3/4;
    display: inline-block; 
    padding-left: 50%;
    float: right;
}


.fa {
    padding: 15px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


