* {
    margin: 0;
    padding: 0;

}


html, body {
    scroll-behavior: smooth;
}


.logo { 
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-align:center;  
    padding: 2.5px;
 }


#backtotop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0,0,0,0.35) ; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 5px; 
  font-size: 15px; 
}

#backtotop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* Side menu Navigation */




.sidenav {
    display: inline;
    float: right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;     
    right: 0;
    background-color: mistyrose;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    font-family: 'Oswald', sans-serif;
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    font-size: 35px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 50px;
    margin-right: 80px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}







#footer  {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    color: white;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}     


#footerlogo{
    font-family: 'Oswald', sans-serif;
    padding-top: 25px;
    
}

#footertext {
    grid-column: 1/2;
    padding-bottom: 25px;
    
}

#socialmediaicons {
    grid-column: 3/4;
    display: inline-block; 
    padding-left: 50%;
    float: right;
}


.fa {
    padding: 15px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


