* {
    margin: 0;
    padding: 0;
}


html, body {
    scroll-behavior: smooth;
}


.logo { 
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-align:center;  
    padding: 2.5px;
 }


#backtotop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0,0,0,0.35) ; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 5px; 
  font-size: 15px; 
}

#backtotop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* Side menu Navigation */




.sidenav {
    display: inline;
    float: right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;     
    right: 0;
    background-color: mistyrose;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    font-family: 'Oswald', sans-serif;
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    font-size: 35px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 50px;
    margin-right: 80px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




    
/* SLIDESHOW */

.slideshow-container {
    position: relative;
    margin: auto;
    padding-top: 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Transparent black background on hover */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.35);
}


/* The dots */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




/* ABOUT ME */

#aboutbox       {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}


.aboutheading  {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    grid-column: 2/5;
    text-align: center;
    padding: 15px;
}


.abouttext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align:center;
    grid-column: 2/5;
}

.contactme {
    grid-column: 2/3;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.contactbutton {
    grid-column: 2/3;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.contactbutton:hover {
    background-color: black;
    color: white;
}


.viewportfolio {
    grid-column: 4/5;
    font-family:'Oswald', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.portfoliobutton {
    grid-column: 4/5;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.portfoliobutton:hover {
    background-color: black;
    color: white;
}

  


#arrow {
    display: block;
    margin-left: 46.75%;
    margin-right: 46.75%; 
}





/* Designs */


#designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#digital {
grid-column: 1/2;
background-color: gray;
}


#digitalheading {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
}

#digitalcontext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

#digitalbutton {
    width: 50% ;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.viewmoredig {
    background-color: black;
    font-size: 16pt;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    color: white;
    float: middle;
    cursor: pointer;
}

.viewmoredig:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}







#digitalportfolio {
  text-align: center;
  background-color: mistyrose;
}



#tangible {  
    grid-column: 2/3;
    background-color: darkgrey;
    
}


#tangibleheading {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
    grid-column: 2/3;
}
    

#tangibletext {
    
    
}


#tangiblebutton {
    
    
}







            
            
 #contact {
     box-sizing: border-box;
     display: grid;
     color: black;
}

#contactmeheader {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

 #contactmetext {
     font-size: 30px;
}


/* Style inputs */
input[type=text], select, textarea {
  width:100%;
  padding: 12px;
  border: 1px solid black;
  margin-top: 4px;
  margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: mistyrose;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Open Sans Condensed', sans-serif;

}

      
#footer  {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    color: white;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}     


#footerlogo{
    font-family: 'Oswald', sans-serif;
    padding-top: 25px;
    
}

#footertext {
    grid-column: 1/2;
    padding-bottom: 25px;
    
}

#socialmediaicons {
  grid-column: 3/4;
    
}


.fa {
  padding: 15px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
     border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}