* {
    margin: 0;
    padding: 0;
}


html, body {
    scroll-behavior: smooth;
}


.logo { 
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-align:center;  
    padding: 2.5px;
 }



/* Side menu Navigation */

.sidenav {
    display: inline
    float: right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;     
    right: 0;
    background-color: mistyrose;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    font-family: 'Oswald', sans-serif;
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    font-size: 35px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 50px;
    margin-right: 80px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




    
/* SLIDESHOW */

.slideshow-container {
    position: relative;
    margin: auto;
    padding-top: 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Transparent black background on hover */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.35);
}


/* The dots */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





/* ABOUT ME */

#aboutbox       {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}


.aboutheading  {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    grid-column: 2/5;
    text-align: center;
    padding: 15px;
}


.abouttext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align:center;
    grid-column: 2/5;
}


.contactme {
    grid-column: 2/3;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.contactbutton {
    grid-column: 2/3;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.contactbutton:hover {
    background-color: black;
    color: white;
}

.viewportfolio {
    grid-column: 4/5;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.portfoliobutton {
    grid-column: 4/5;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.portfoliobutton:hover {
    background-color: black;
    color: white;
}



#arrow {
    display: block;
    margin-left: 46.75%;
    margin-right: 46.75%; 
}





/* Designs */


#designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


#digital {
grid-column: 1/2;
background-color: gray;
outline-color: mistyrose;
}


#digitalheading {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
    grid-column: 1/2;
}

#digitalcontext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
}

/*
#digitalbutton {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
    outline-color: white;
    outline-width: 2pt;
    outline-style: solid;
    grid-column: 2/3;
    
    
}

*/


#digitalbutton {
    font-family: 'Oswald', sans-serif;
    grid-column: 3/4;
    font-size: 15px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.viewmoredig {
    grid-column: 3/4;
    background-color: black;
    border: 2px solid white;
    color: black;
}

.viewmoredig:hover {
    background-color: white;
    color: black;
}











#digitalportfolio {
  text-align: center;
  background-color: mistyrose;
}



#tangible {  
    grid-column: 2/3;
    background-color: darkgrey;
    
}


#tangibleheading {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
    grid-column: 2/3;
}
    

#tangibletext {
    
    
}


#tangiblebutton {
    
    
}
